<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>受け取り</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-toggler navbar-green right" href="{{ url_for('index') }}">
                    <span class="navbar-toggler-icon"></span>
              </a>
            </div>
        </nav>
  </header>
    <div class="content margin-content">
    <p>商品が受取可能です。下記の受取番号を提示して商品を受け取ってください。</p>
    <div class="number">
        <img src="{{ url_for('static', filename='number.png') }}" alt="受け取り番号">
    </div>
    <div class="share">
        <img src="{{ url_for('static', filename='share.png') }}" alt="シェアボタン">
    </div>
</body>
</html>
